.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.breadcrumb-blog h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    padding-top: 120px;
}
.breadcrumb-blog{
 text-align: center;
  align-items: center;
 justify-content: center;
 height: 350px;
 -webkit-box-align: center;
 -webkit-box-pack: center;
}
.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}



.breadcrumb-option {
    background: #f3f2ee;
    padding: 51px 0;
}


/* PRODUCT*/
.product{
    padding: 100px 0;
}
.product-content-left {
    width:50% ;
}
.product-content-left-big-img {
    width: 80%;
   padding-right: 20px;
  

}

.product-content-left-big-img img  {
    width: 100%;
    

}
.product-content-left-small-img {
    width: 20%;

}

.product-content-left-small-img img {
  width: 100%;
  cursor: pointer;
}
.quantity input {
    height: 27px;
    margin-top: 17px;
}
.quantity p {
    padding-top: 18px;
}












.product-content-right {
    width: 50%;
    padding-left: 40px;
}

.product-content-right-product-name h1{
    font-size: 16px;
}
.product-content-right-product-name p {
    color: #cccccc;
    font-size: 12px;
}
.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
}
.product-content-right-product-color img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.product-content-right-product-color-img{
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.size span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 0 ;
    cursor: pointer;

}
.quantity {
    display: flex;
    margin-bottom: 20px;
}
.quantity p {
    padding-top: 18px;
}
.quantity input {
    width: 43px;
    padding-left: 4px;
    padding-top: 0px;
    font-size: 15px;
  
}
.product-content-right-product-button button {
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3ss ease;
}
.product-content-right-product-button button:first-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;

}
.product-content-right-product-button button:first-child:hover {
    background-color: black;
    color: #ffff;
}
.product-content-right-product-button button:last-child {
border:2px solid #bf8a49;
color: #bf8a49;
background-color: #ffff;
cursor: pointer;
}
.product-content-right-product-icon{
display: flex;

}
.product-content-right-product-icon-item {
    display: flex;
margin-right: 12px;
justify-content: center;
align-items: center;
}
.product-content-right-product-icon-item i {
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-product-bottom{
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative;
    
}
.product-content-right-bottom-top {
    position: absolute;
    width: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
   
}
.product-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
    

}
.product-content-right-product-bottom-content-title-item {
    padding: 18px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-product-bottom-content-title-item p {
    font-size: 12px;
}
.product-content-right-bottom-content {
    padding-top: 30px;
}
.product-content-right-bottom-content {
    font-size: 12px;

}
.product-content-right-bottom-content-baoquan {
    display: none;
}
.activeB {
    display: none;
}


.form-control{
    width: 50%;
}
.container .mt-3 {
    padding-top: 20px;

}













